
@font-face {
    font-family: 'Qurova';
    src: url('../fonts/qurova/QurovaDEMO-Light-BF67a5c6380ebd4.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Qurova';
    src: url('../fonts/qurova/QurovaDEMO-Regular-BF67a5c637a5dc9.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Qurova';
    src: url('../fonts/qurova/QurovaDEMO-Medium-BF67a5c6382651c.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Qurova';
    src: url('../fonts/qurova/QurovaDEMO-SemiBold-BF67a5c637bcd0b.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Qurova';
    src: url('../fonts/qurova/QurovaDEMO-Bold-BF67a5c637eed62.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'Kinds Sans';
  src: url('../fonts/kind-sans/kindsans-thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Kinds Sans';
  src: url('../fonts/kind-sans/kindsans-thinitalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Kinds Sans';
  src: url('../fonts/kind-sans/kindsans-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Kinds Sans';
  src: url('../fonts/kind-sans/kindsans-lightitalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Kinds Sans';
  src: url('../fonts/kind-sans/kindsans-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kinds Sans';
  src: url('../fonts/kind-sans/kindsans-regularitalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Kinds Sans';
  src: url('../fonts/kind-sans/kindsans-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Kinds Sans';
  src: url('../fonts/kind-sans/kindsans-mediumitalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Kinds Sans';
  src: url('../fonts/kind-sans/kindsans-semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Kinds Sans';
  src: url('../fonts/kind-sans/kindsans-semibolditalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Kinds Sans';
  src: url('../fonts/kind-sans/kindsans-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Kinds Sans';
  src: url('../fonts/kind-sans/kindsans-bolditalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Kinds Sans';
  src: url('../fonts/kind-sans/kindsans-heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Kinds Sans';
  src: url('../fonts/kind-sans/kindsans-heavyitalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Kinds Sans';
  src: url('../fonts/kind-sans/kindsans-black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Kinds Sans';
  src: url('../fonts/kind-sans/kindsans-blackitalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Kinds Sans';
  src: url('../fonts/kind-sans/kindsans-semilight.otf') format('opentype');
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: 'Kinds Sans';
  src: url('../fonts/kind-sans/kindsans-semilightitalic.otf') format('opentype');
  font-weight: 350;
  font-style: italic;
}
